.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  gap: 1rem 4rem;

  li {
    background: var(--color-blue);
    color: var(--color-white);
    padding: 1rem;
  }
}
